@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
header {
  overflow: hidden;
  height: 30%;
  text-align: center;
  position: relative;
  background-image: url(header.png);
  background-size: contain;
}
.pokedex {
  margin: auto;
  height: 60%;
}

li {
  display: inline-block;
  height: 20%;
}

.logo {
  margin: auto;
  width: 35%;
}
.pokedex {
  margin: auto;
  width: 20%;
}

.searcher {
  margin: 0;
  background-color: #D5D8DC;
  padding: 1em;
  color: #2d3d84fb;
  font-family: "Questrial", sans-serif;
}
.searchPoke,
.orderPoke {
  display: inline-block;
  margin: 1em;
}

/*--Estilo botones--*/
.btn-nav {
  font-family: "Questrial", sans-serif;
  color: white;
  border: solid;
  border-color: white;
  outline: 0;
  background-color: #e6ac5a;
  border-radius: 0.4em;
  padding: 0.3em 2em;
  font-size: 1em;
  margin: 0.3em;
}
.btn-nav:hover {
  background-color: #cd7b29;
  color: #ffffff;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

.btnGen {
  font-family: "Questrial", sans-serif;
  color: white;
  border: solid;
  border-color: white;
  outline: 0;
  background-color: #8bceba;
  border-radius: 0.4em;
  padding: 0.3em 2em;
  font-size: 1em;
  margin: 0.3em;
}
.btnGen:hover {
  background-color: #2b7382;
  color: #ffffff;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

/*--Estilo ordenar--*/
.order {
  background-color: #ffffff;
  color: #672505;
  margin: 0em auto;
  padding: 0.2em;
  width: 9em;
  border-radius: 0.4em;
  outline: 0;
  font-family: "Questrial", sans-serif;
}

/*--Estilo búsqueda--*/
.search,
.numHP {
  margin: 0em auto;
  height: 25px;
  width: 10%;
  min-width: 300px;
  border-radius: 0.4em;
  border: solid 1px #672505;
  background-color: #ffffff;
  font-family: "Questrial", sans-serif;
  text-align: center;
}
.calculate {
  font-family: "Questrial", sans-serif;
  color: white;
  border: solid;
  border-color: white;
  outline: 0;
  background-color: #822900;
  border-radius: 0.4em;
  padding: 0.3em 2em;
  font-size: 1em;
  margin: 0.3em;
}
.calculate:hover {
  background-color: #672505;
  color: #ffffff;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

/*--Estilo body--*/
body {
  margin: 0;
  display: inline;
  background: linear-gradient(
    90deg,
    rgba(85, 144, 189, 1) 0%,
    rgba(108, 183, 240, 1) 54%,
    rgba(182, 216, 242, 1) 82%
  );
  text-align: center;
  font-family: "Questrial", sans-serif;
}
/*--Estilo tarjetas--*/
h1,
h3 {
  color: black;
}
a {
  display: block;
}
.cardPokemon {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 3px 15px black;
  text-align: center;
  height: 350px;
  min-width: 250px;
  position: relative;
}

h5 {
  box-shadow: 0 0 9px 0 #c4c3c3;
  background-color: #fcfcf9;
  padding: 1px;
  margin: 1px;
  border-radius: 0.4px;
  max-width: 300px;
  min-width: 270px;
  grid-template-columns: 53% 47%;
  flex-basis: 30%;
  text-align: center;
}
.numCard {
  cursor: pointer;
  margin: 1px;
}
.numCard:hover {
  color: #2b7382;
}
.nameCard,
.nameCard2 {
  text-transform: capitalize;
  font-size: 45 px;
  text-align: center;
  background-color: #2b7382;
  border-radius: 0.3em;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 10px;
}
.About {
  margin: 4px;
  border-radius: 3px;
}
.Resistant {
  margin: 4px;
  border-radius: 0.3em;
}
.Weaknesses {
  margin: 4px;
  border-radius: 0.3em;
}
/*--Estilo footer--*/
footer {
  background-color: #D5D8DC;
  height: 4%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
/* spinner */
.spinner {
  border: 30px solid rgba(245, 171, 11, 0.616);
  border-left-color: transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  display: flex;
 justify-content: center;
 margin: 0 auto;
 z-index: 9;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}