@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*--Estilo del header--*/
header {
  background-color: white;
  height: 20%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.pokedex {
  margin: auto;
  width: 30%;
  display: inline-block;
}

/*--Estilo SECTION:searcher--*/
li {
  display: inline-block;
  height: 20%;
}
.searcher {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
  font-family: "Questrial", sans-serif;
}

/*--Estilo botones--*/
.btn-nav{
  font-family: "Questrial", sans-serif;
  color: white;
  border: solid;
  border-color: white;
  outline: 0;
  background-color: #e6ac5a;
  border-radius: 0.4em;
  padding: 0.3em 2em;
  font-size: 1em;
  margin: 0.3em;
}
.btn-nav:hover{
  background-color: #cd7b29;
  color: #ffffff;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

.btnGen {
  font-family: "Questrial", sans-serif;
  color: white;
  border: solid;
  border-color: white;
  outline: 0;
  background-color: #8bc6ce;
  border-radius: 0.4em;
  padding: 0.3em 2em;
  font-size: 1em;
  margin: 0.3em;
}
.btnGen:hover {
  background-color: #2b7382;
  color: #ffffff;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

/*--Estilo ordenar--*/
.order {
  background-color: #ffffff;
  color: #672505;
  margin: 0em auto;
  padding: 0.2em;
  width: 9em;
  border-radius: 0.4em;
  outline: 0;
  font-family: "Questrial", sans-serif;
}

/*--Estilo búsqueda--*/
.search,
.numCP {
  margin: 0em auto;
  height: 25px;
  width: 10%;
  min-width: 300px;
  border-radius: 0.4em;
  border: solid 1px #672505;
  background-color: #ffffff;
  text-align: center;
}

/*--Estilo body--*/
body {
  display: inline;
  background: linear-gradient(
    90deg,
    rgba(85, 144, 189, 1) 0%,
    rgba(108, 183, 240, 1) 54%,
    rgba(182, 216, 242, 1) 82%
  );
  text-align: center;
  font-family: "Questrial", sans-serif;
  margin: 0;
  padding: 0;
}
/*--Estilo tarjetas--*/
h1,
h3 {
  color: black;
}
a {
  display: block;
}
.cardPokemon {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 3px 15px black;
  text-align: center;
  height: 25%;
  min-width: 250px;
}

.imgCard {
  background: url("./blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/*--Estilo footer--*/
footer {
  background-color: white;
  height: 4%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
